@import "./../base.scss";

.commentAdd {
    padding: 10px 5px;
    display: none;
  
    &__field {
      margin: 10px 0;
  
      & > textarea {
        height: 100px;
      }
    }
  
    &__input {
      background-color: lightgray;
      border: none;
      border-radius: 5px;
      padding: 10px;
      width: 300px;
      font-size: $base_font_size;
    }
  
    &__error {
    //   display: none;
      color: red;
      font-style: italic;
      padding-bottom: 10px;
    }
  }
  